
.ReactVirtualized__Table__Grid{
background-color: white;
}

.ReactVirtualized__Table__headerColumn{
    background-color:rgb(222, 229, 245);
}

.ReactVirtualized_Table__headerRow{
    background-color: rgb(222, 229, 245);
    padding-right: 0 !important;
}