
.row {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.sunburst-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-vis-page {
    background-color: #282c34;
    height: auto;
}