.row {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.sunburst-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.react-datetimerange-picker--enabled
{
    
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.react-datetimerange-picker__wrapper
{
    background-color: #575c66;
    border: thin solid #575c66;
    overflow: hidden;

}


.data-vis-page {
    background-color: #282c34;
    min-height: 100vh;
    height: 100%;
}

.error-message {
    color: white;
}

