.row {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.sunburst-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.react-datetimerange-picker--enabled
{
    background-color:#575c66;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.react-datetimerange-picker__wrapper
{
    background-color: #575c66;
    border: thin solid #575c66;

}

.data-vis-page {
    background-color: #282c34;
    min-height: 100vh;
    height: 100%;
}

.error-message {
    color: white;
}

.anomaly_button {
    display: flex;
    align-items: center;
    justify-content: center; 
}