.row {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.username-wrapper {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 0;
    margin-left: 1%;
}

.sunburst-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.datavis-options-container {
    margin: 1%;
}

.react-datetimerange-picker__wrapper{
    background-color: #575c66;
    border: thin solid #575c66;
    overflow: hidden;
    margin-right: 10px;
}

.data-vis-page {
    background-color: #282c34;
    min-height: 100vh;
    height: 100%;
}

.error-message {
    color: white;
}

.view_button {
    height: 43px;
    margin-right: 10px;
    background-color: var(--group-background) !important;
    color: var(--input-color) !important;
    border: none !important;
    &:hover {
        background-color: #678EFE !important;
        color: white !important;
    }
}

/* Username input styling */
:root {

    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;

}
.uuid-prompt{
    color: white;
    padding: 8px;
}

.form-field {
    display: block;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
    margin-right: 10px;
    & > span,
    .form-field {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        text-align: center;
        padding: 10px 30 px;
        line-height: 25px;
        color: var(--group-color);
        background: var(--group-background);
        border: 1px solid var(--group-border);
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        & > span {
            color: var(--group-color-focus);
            background: var(--group-background-focus);
            border-color: var(--group-border-focus);
        }
    }
}
